@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --theme-light-bg: var(--clr-accent-0);
  --theme-dark-bg: var(--clr-accent-1000);

  --br: 1rem;
  --component-padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-accent-950);
  background-color: var(--theme-light);
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
}
