@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-accent-50: hsl(252, 100%, 99%);
  --clr-accent-50-10: hsl(252, 100%, 99% / .1);
  --clr-accent-50-40: hsl(252, 100%, 99% / .4);
  --clr-accent-50-70: hsl(252, 100%, 99% / .7);
  --clr-accent-100: hsl(254, 87%, 97%);
  --clr-accent-200: hsl(254, 83%, 93%);
  --clr-accent-300: hsl(257, 84%, 85%);
  --clr-accent-400: hsl(257, 84%, 85%);
  --clr-accent-500: hsl(263, 79%, 66%);
  --clr-accent-600: hsl(267, 74%, 58%);
  --clr-accent-700: hsl(268, 62%, 50%);
  --clr-accent-800: hsl(268, 62%, 42%);
  --clr-accent-900: hsl(268, 62%, 42%);
  --clr-accent-950: hsl(266, 64%, 23%);
  --clr-accent-950-30: hsl(266, 64%, 23% / .3);
  --clr-accent-950-40: hsl(266, 64%, 23% / .4);
  --clr-accent-950-70: hsl(266, 64%, 23% / .7);

  --theme-light: #FFFFFF;
  --theme-dark: #1D1528;

  --br: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-accent-950);
  background-color: var(--theme-light);
}

fieldset {
  border: none;
}