.dashboardSidebar {
  background-color: var(--clr-surface-1);
  color: var(--clr-text-1);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: var(--br);
}

.profileInfoContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 2rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileName {
  font-size: 1.125rem;
  font-weight: 700;
}

.profileEmail {
  font-size: 0.875rem;
  color: var(--clr-text-2);
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sectionTitle {
  text-transform: uppercase;
  color: var(--clr-text-3);
  padding-inline: 2rem;
  font-weight: 800;
}

.theme-dark {
  --clr-surface-1: var(--clr-accent-950);
  --clr-text-1: var(--clr-accent-50);
  --clr-text-2: var(--clr-accent-50-70);
  --clr-text-3: var(--clr-accent-400);
}

.theme-light {
  --clr-surface-1: var(--clr-accent-50);
  --clr-text-1: var(--clr-accent-950);
  --clr-text-2: var(--clr-accent-950-70);
  --clr-text-3: var(--clr-accent-400);
}