.radioGroup {
  display: flex;
  justify-content: stretch;
  gap: 1.375rem
}

.rangeValues {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--clr-text-1);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: 1.125rem;
}

.fieldset [type='range'] {
  cursor: grab;
}

.fieldset [type='range']:active {
  cursor: grabbing;
}

.dark {
  --clr-text-1: var(--clr-accent-50-40);
}

.light {
  --clr-text-1: var(--clr-accent-950-40);
}