.sidebarLink {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.sidebarLink.selected {
  background-color: var(--clr-surface-1);
  color: var(--clr-text-1);
  font-weight: 800;
}

.iconContainer {
  display: grid;
  place-content: center;
}

.dark {
  --clr-surface-1: var(--clr-accent-50-10);
  --clr-text-1: var(--clr-accent-300);
}

.light {
  --clr-surface-1: var(--clr-accent-200);
  --clr-text-1: var(--clr-accent-900);
}